:root {
    --primary-color: #5dd9c1;
    --primary-color-anti: white;
    --secondary-color: #fbc006;
    --secondary-color-anti: white;
    --background-color: #f6f8f5;
    --title-color:#292929;
    --description-color: #5c6b56;


}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: inline-block;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* colors classes start */
.bg-background-color {
    background-color: var(--background-color);
}
/* colors classes ends */

/* title section starts */
.section-title-h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.17;
    color: var(--title-color);
}
.section-title-h2 {
    font-size: 40px;
    line-height: 1.35;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--title-color);
}
.section-title-h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--title-color);
}
/* title section ends*/

/* desctiption starts */
.stars {
    font-size: 20px;
    color: #707070;
}
.person {
    font-size: 20px;
    color: #707070;
}
.person-green {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}
.section-description {
    font-size: 20px;
    font-weight: 300;
    color: var(--description-color);
}
.text-pricing {
    font-size: 16px;
    font-weight: 400;
    color: var(--description-color);
}
.text-white {
    color: var(--primary-color-anti);
}
/* desctiption ends */