.btn {
    display: inline-block;
    padding: 0.8em 1.7em;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--primary-color-anti);;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    text-transform: capitalize;
    
}
.btn:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}

.btn.btn-yellow {
    background-color: var(--secondary-color);
    
}
.btn.btn-yellow:hover {
    background-color: var(--primary-color);

}
.btn.btn-white {
    background-color: var(--primary-color-anti);
    color: var(--primary-color);
    
}
.btn.btn-white:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color-anti);

}

.btn.btn-transparent {
    background-color: transparent;
    color: black;
    border: 1px solid var(--primary-color);
    
}
.btn.btn-transparent:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-anti);

}
.btn.btn-arrow {
    background-color: transparent;
    color: var(--primary-color-anti);
    padding: 0;
    transition: all 0.2s ease-in;
}
.btn.btn-arrow:hover {
    color: var(--secondary-color);
}
.btn.btn-play {
    background-color: var(--secondary-color);
    color: var(--primary-color-anti);
    border-radius: 50%;
    padding: 1.3em 1.5em; ;
    
}
.btn.btn-play:hover {
    background-color: var(--primary-color);
}
.btn.btn-sub {
    font-weight: bold;
    }

.btn.btn-sub:hover{
color: black;
font-weight: bold;
}

#backToTopBtn {
    display: none;
    position: fixed; 
    width: 30px;
    height: 30px;
    bottom: 100px; 
    right: 85px; 
    z-index: 99;
    border: none;
    outline: none; 
    background-color: var(--secondary-color) ;
    color: var(--secondary-color-anti);
    cursor: pointer;
    border-radius: 25px; 
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
  }
  
  #backToTopBtn:hover {
    background-color: rgb(229, 238, 101); 
  }