/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header starts here */
/* header ends here */

/* scroll up button starts here */
/* scroll up button ends here */

/*  hero starts here */
.right-column {
    position: relative;
    
}
.right-column .pic-under {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    object-fit: fit-content;
    top: -60px;
    left: -70px;
}

.right-column .pic-under2 {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    object-fit: fit-content;
    right: -1px;
    bottom: -60px;
}

.right-column > .hero-video {
    position: relative;
    
}

.right-column > .hero-video > .upper-pic{
    max-width: 100%;
    height:fit-content;
}
.right-column .triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #000;
	border-bottom: 10px solid transparent;
}
/*  hero ends here */

/*  key facts starts here */
/*  key facts ends here */

/*  countdown starts here */
/*  countdown ends here */

/*  course slide starts here */
/*  course slide ends here */

/*  course syllabus starts here */
/*  course syllabus ends here */

/*  course benefits starts here */
/*  course benefits ends here */

/*  pricing starts here */
/*  pricing ends here */

/*  reviews starts here */
/*  reviews ends here */

/*  contact form starts here */
/*  contact form ends here */

/*  instructors starts here */
/*  instructors ends here */

/*  footer starts here */
/*  footer ends here */