/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header starts here */
/* header ends here */

/* scroll up button starts here */
/* scroll up button ends here */

/*  hero starts here */
/*  hero ends here */

/*  key facts starts here */
/*  key facts ends here */

/*  countdown starts here */
/*  countdown ends here */

/*  course slide starts here */
.buttonai{
    float: right;
position: relative;
right:30px
}

.buttonai > .btnKaire{
width: 50px;
height: 50px;
color:aqua ;
background: aquamarine;
margin-right: 20px;
border:none;
font-size: 30px;
}
.buttonai > .btnDesine{
    width: 50px;
    height: 50px;
    color: aqua;
    background: aquamarine;
    border:none;
    font-size: 30px
}
.hedercarusel{
    font-size: 40px;
}
.caruimg{
    height: 350px;
    width : 250px;
    padding: 40px;
    padding-bottom: 25px;
    filter: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.textUnder{
    display: block;
   color:white;
   font-size: 25px;
}
.maxheight{
    max-height: 400px;
}
.carusel{
    text-align: center;
    height: 400px;
    background-color: blueviolet;
    margin: 12.5px;
    float :left;
    border-radius: 20px;
    
}
/*  course slide ends here */

/*  course syllabus starts here */
/*  course syllabus ends here */

/*  course benefits starts here */
/*  course benefits ends here */

/*  pricing starts here */
/*  pricing ends here */

/*  reviews starts here */
/*  reviews ends here */

/*  contact form starts here */
/*  contact form ends here */

/*  instructors starts here */
/*  instructors ends here */

/*  footer starts here */
/*  footer ends here */